#Title{
   -fx-font: 35px "Roboto Light", "Sans Serif Collection";
    -fx-align-content: center;
    -fx-padding: 5px;
}
.button{
    -fx-font: 12px "Roboto Light", "Sans Serif Collection";
    -fx-background-color: black;
    -fx-padding: 1px;
    -fx-background-radius: 15px;
}
#Username{
    -fx-background-radius: 15px;

}
#Password{
    -fx-background-radius: 15px;

}